<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>登入</title>
</head>
<body>
    <div class="register-container">
    <h2>登入</h2>
    <form action="/auth/login" method="post">
        <div class="form-group">
            <label for="email">電子郵件:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">密碼:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-submit">登入</button>
        </div>
        <div class="form-group link-group" >
            <a href="/register" class="register-link"  >我不是會員</a>
        </div>
        <div class="form-group link-group">
            <a href="/" class="home-link" >首頁</a>
        </div>
    </form>

    {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>
