body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #4CAF50;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22,73,49,1);
    color: #ffffff;
    padding: 5px;
}

.logo, .menu, #right {
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 100px;
    width: 70px;
    height: 70px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 15px;
    font-family: '標楷體', sans-serif;
    font-size: 25px;
}

.logo-button {
    margin-right: 5px;
    background-color:rgb(26, 93, 65);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.logo-button:hover {
    background-color: #55aa5a;
}

.mining-container {
    margin-top: 50px;
    background-color:rgb(26, 93, 65);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
}

.mining-rate {
    font-size: 30px;
    color: white;
    padding: 10px;            
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 6px;
}   

.card-container {
border: 1px solid white;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
padding: 5px;
margin: 20px 0;
background: linear-gradient(to bottom, rgba(26, 93, 65, 1), rgba(22,73,49,1));
}

.card {
    position: relative;
    color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
}
.card img {
    background-color: rgb(26, 93, 65);
width: 100px;         
height: 100px;        
border: 2px solidrgb(26, 93, 65);  /* 更柔和的綠色邊框 */
display: block;     
object-fit: cover;  
border-radius: 8px; /* 圓角效果 */
box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15); /* 添加陰影效果 */
transition: transform 0.3s ease; /* 過渡效果，使得圖片放大時更為流暢 */
}
.image-container {
position: relative;
display: inline-block;  /* 轉換為行內塊以適應圖片大小 */
}

.card-checkbox {
position: absolute;
top: 0px;  /* 根據需要調整 */
left: 80px;  /* 根據需要調整 */
   
transform: scale(1.5); /* 如果需要，放大 checkbox */
}


button {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 4px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #388E3C;
    color: white;
}
.language-select {
background-color: rgb(26, 93, 65);
color: #ffffff;
border: none;
border-radius: 15px;
padding: 10px;
font-size: 20px;
cursor: pointer;
}
.hamburger-menu {
display: inline-block;
cursor: pointer;
margin-left: 20px;

}

.bar {
display: block;
width: 25px;
height: 3px;
margin: 4px auto;
background-color: #333;
}

#menuToggle.active .bar:nth-child(2) {
opacity: 0;
}

#menuToggle.active .bar:nth-child(1) {
transform: translateY(7px) rotate(45deg);
}

#menuToggle.active .bar:nth-child(3) {
transform: translateY(-7px) rotate(-45deg);
}
.side-nav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: rgba(0, 128, 0, 0.9);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.side-nav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: #ffffff;
display: block;
transition: 0.3s;
}

.side-nav a:hover {
color: #f1f1f1;
}

.side-nav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
}
.header-image {
position: relative;
width: 100%;
text-align: center;  /* 使圖片置中 */

}

.header-image img {
width: 100%;    /* 確保圖片不會超過容器的大小 */
height: 300px;       /* 維持圖片的原始比例 */
}   
.dropdown-container {
top: 10px; /* 距離圖片頂部的距離，可根據需求調整 */
left: 750px; /* 距離圖片左邊的距離，可根據需求調整 */
position: absolute;
width: 200px; /* 這個可以調整 */
margin: 20px auto;
}

#pokemonDropdown {
font-size: 18px;               /* 字體大小 */
padding: 10px 20px;           /* 上下和左右的間距 */
background-color: #3498db;    /* 按鈕的背景顏色 */
color: white;                 /* 文字顏色 */
border: none;                 /* 移除邊框 */
border-radius: 30px;          /* 圓角設定，數值越大，角越圓 */
cursor: pointer;              /* 鼠標懸停時的指標形狀 */
transition: 0.3s;             /* 平滑的過渡效果 */
}
.links-container {
display: flex;
justify-content: center;
margin-top: 20px;
}

.game-link {
display: inline-block;
margin: 0 15px;
padding: 10px 20px;
border: 2px solid white;
background-color: rgba(26, 93, 65, 0.8);
color: white;
font-size: 20px;
border-radius: 8px;
text-align: center;
text-decoration: none;
transition: background-color 0.3s;
}

.game-link:hover {
background-color: rgba(22,73,49,1);
}

