
body {
    font-family: 'Arial', sans-serif;
    width: 100%;
    min-width: 2000px;
}
body, html {
    height: 100%;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22,73,49,1);
    color: #ffffff;
    padding: 5px;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* 修改此处 */
    align-items: center;
}

.logo label {
    margin-left: 100px; /* 新增此行，給LOGO元素自身添加左邊距 */
}


.menu {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 15px;
    font-family: '標楷體', sans-serif;
    font-size: 25px;
}

.menu a:hover, a:active {
    color: #ffffff;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-button, .language-select, .hamburger-menu {
    margin-right: 5px;
}

.logo-button {
    background-color:rgb(26, 93, 65);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

.logo-button:hover {
    background-color: #55aa5a;
}
.logo-button a {
    text-decoration: none;
    color: #ffffff;
}

.logo-button a:hover, 
.logo-button a:active, 
.logo-button a:focus {
    color: #ffffff;
}

.language-select {
    background-color: rgb(26, 93, 65);
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px auto;
    background-color: #333;
}

#menuToggle.active .bar:nth-child(2) {
    opacity: 0;
}

#menuToggle.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

#menuToggle.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 128, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #f1f1f1;
}

.side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}


#content-wrap {
    min-height: calc(100% - 60px); /* 頁腳高度為60px */
    position: relative;
}


footer {
    background-color: rgba(22,73,49,1);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.full-width-photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.full-width-photo img {
    flex: 1;
    width: 100%; /* 圖像寬度設為 100%，使它充滿整個螢幕的寬度 */
    height: auto; /* 高度自動，以保持圖像的比例 */
}
#ball {
    position: absolute; /* 使用絕對定位 */
    top: 53%;           /* 將圖片向上偏移50% */
    left: 35%;          /* 將圖片向左偏移50% */
    transform: translate(-50%, -50%); /* 使用transform讓圖片居中 */
    width: 400px;       /* 控制圖片的寬度，你可以根據需要設定 */
    height: auto;       /* 設定高度自動，以保持圖片的比例 */
    z-index: 1000;      /* 設置 z-index 以确保 ball.png 出现在 bgg.png 的上面 */
}
#Mball {
    position: absolute; /* 使用絕對定位 */
    top: 50%;           /* 將圖片向上偏移50% */
    left: 65%;          /* 將圖片向左偏移50% */
    transform: translate(-50%, -50%); /* 使用transform讓圖片居中 */
    width: 300px;       /* 控制圖片的寬度，你可以根據需要設定 */
    height: auto;       /* 設定高度自動，以保持圖片的比例 */
    z-index: 1000;      /* 設置 z-index 以确保 ball.png 出现在 bgg.png 的上面 */
}

.cc{
    position: absolute; 
    bottom: 250px; 
    right: 1070px;
}
#content-wrap {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 60px);
}
.minus-btn{
    position: absolute; 
    bottom: 250px; 
    right: 1070px;
}
.plus-btn{
    position: absolute;
    bottom: 250px; 
    right: 1070px;
}
.card-draw-controls {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%; 
    left: 35%; 
    transform: translate(-50%, -50%);
    z-index:1;
}
.action-button {
    position: absolute; 
    bottom: 200px; 
    left: 35%; 
    transform: translate(-50%, -50%); 
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001; 
}

.action-button:hover {
    background-color: #45a049;
}


.input-section {
    position: absolute;
    top: 65%; 
    left: 35%; 
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
}

#myInput, #myInput2{
    padding: 10px;
    border: none; 
    flex-grow: 1;
    text-align: center;
    outline: none; 
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    height: 40px; 
    
}

.input-button {
    padding: 0; 
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#decrement,#decrement2 {
    border-top-left-radius: 50%; 
    border-bottom-left-radius: 50%; 
}

#increment, #increment2 {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; 
}

.input-button:hover {
    background-color: #ddd;
}

.input-button:active {
    background-color: #bbb;
}
.input-section2 {
    position: absolute;
    top: 65%; 
    left: 65%; 
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
}


.mesg {
    position: absolute;
    top: 30%; 
    right: 70%; 
    transform: translate(-50%, -50%);
    z-index: 1000;
    align-items: center;
    font-family: '標楷體', sans-serif;
    font-size: 32px;
    color: #ffffff; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.mesg label {
    display: block;
    margin-bottom: 0px; 
    width: 200px;
}

#calculate {
    position: absolute;
    top: 69%; 
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #39923c;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.bright{
    left: 35%
}
.bleft{
    left: 65%
}

#calculate:hover {
        background-color: #e74c3c;
}

#calculate:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    
    font-size: 20px;
    width: 150px;
}
.image-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -500%);
    background-color: rgba(216, 255, 210, 0.8); 
    color: #287d28; 
    padding: 15px 30px;
    font-size: 100px;
    text-align: center;
    border-radius: 100px;
    border: 3px solid #50a450; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s;
}


.image-text:hover {
    transform: translate(-50%, -505%);
    background-color: rgba(196, 255, 190, 0.9);
}

.modal {
    width: 620px;
    height: 500px;
    overflow: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-family: '標楷體', sans-serif;
    font-size: 32px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px; 
    padding: 25px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}


.message-content {
    width: 80%;
    max-height: 60%;
    overflow-y: auto;
    position: relative;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px; 
    padding: 15px;
    padding-top: 30px;  
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}


.message-content span {
    display: block;
    margin: 0 auto; 
}

.message-content label {
    display: block;
    margin-bottom: 10px;
    width: 90%;
}



.btn {
    position: absolute;
    bottom: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1001;
    font-size: 28px; 
    color: #ffffff;
    background-color: rgba(80, 80, 80, 0.6);    
    border: none; 
    border-radius: 10px; 
    padding: 15px 25px; 
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color: rgba(60, 60, 60, 0.8); 
}

.message-content::-webkit-scrollbar {
    width: 10px;
}

.message-content::-webkit-scrollbar-track {
    background: rgba(200, 200, 200, 0.2); 
}

.message-content::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.6); 
    border-radius: 5px;
}

.message-content::-webkit-scrollbar-thumb:hover {
    background: rgba(80, 80, 80, 0.8); 
}









